<!DOCTYPE html>
<html>
<head>
<title>Default nginx page</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1> Emacs {{ emacs_version }} installed!</h1>
<p>
  To start using Emacs:
  <ul>
    <li> Type in a terminal: emacs
    <li> Enjoy!
  </ul>
</p>
</body>
</html>
